.overlay-root {
    position: fixed;
    z-index: 9997;
    inset: 0;
    display: block;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.overlay-root.root-visible {
    opacity: 1;
    pointer-events: auto;
}

.overlay-overlay {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: rgb(0 0 0 / 80%);
}

.overlay-title {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    color: white;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.03rem;
    background-color: rgb(29 29 31);
    border-radius: 10px;
}

.overlay-content {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    color: white;
    background-color: rgb(29 29 31);
    border-radius: 10px;
}

.overlay-close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: grid;
    width: 32px;
    height: 32px;
    padding: 0;
    place-items: center;
    color: rgb(211 47 47);
    font: inherit;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 50%;
    transition: 0.3s;
}

.overlay-close:hover {
    background: rgb(255 255 255 / 12%);
}

.overlay-trigger {
    display: inline-block;
    padding: 8px 12px;
    color: white;
    font: inherit;
    cursor: pointer;
    background-color: rgb(0 113 227);
    border: 0;
    border-radius: 12px;
}

.overlay-trigger:hover {
    background-color: rgb(31 142 255);
}

.overlay-close:focus-visible, .overlay-trigger:focus-visible {
    outline: 3px solid white;
    outline-offset: 3px;
}